
.hero{
  .show-after{
    .text-line{
      padding-top: 2em;
      width: 100%;
      text-align: center; 
      padding: .5em;
      margin-top: 1em;
      border: 2px solid white;
      color: white;
      .about-me-body{
        left: 50%;
        transform: translateX(-50%);
        
      }
    }
    iframe{
      width: 100%;
      padding-top: .5em;
    }
  }
  .chat-cta{
    h2{
      margin-top: 2em;
      color: white;
      text-align: center;
      font-size: x-large;
      span{
        color: rgb(45, 199, 45);
      }
    }
    img{
      display: block; 
      margin: 0 auto; 
      filter: invert(100%);
      width: 15%;
      margin-top: 1em;
      
    }
  }
}

@media only screen and (min-width: 800px){
  .hero .show-after .about-me-body {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .hero .show-after .text-line{
    padding: .5em;
    margin-top: 1em;
    border: 2px solid white;
    color: white;
    flex-direction: row;
  }
  .hero .show-after .chat-cta{
    display: flex;
    width: 80%;
    flex-direction: column;
    padding-left: 4em;
    padding-right: 2em;
    
  }

}