
.hero{
  .show-after{
    .text-line{
      padding-top: 2em;
      width: 100%;
      text-align: center; 
      
    }
  }
  .chat-cta{
    h2{
      margin-top: 2em;
      color: white;
      text-align: center;
      font-size: x-large;
      span{
        color: rgb(45, 199, 45);
      }
    }
    img{
      display: block; 
      margin: 0 auto; 
      filter: invert(100%);
      width: 15%;
      margin-top: 1em;
      
    }
  }
}