.hero{
    .work_experience{
        color: white;
        padding-left: 5vw;
        padding-top: 5vh;
        width: 95vw;
        .experience1{
            span{
                font-size: x-large;
                font-weight: bold;
                text-decoration: underline rgb(45, 199, 45);
            }
            padding-top: 1vh;
            .pearson-text{
            color: white;
            padding-top: 1vh;
            span{
                font-size: medium;
                text-decoration: none;
                font-weight: lighter;
                font-style: italic;
            }
            }
            img{
                width: 30%;
            }
        }
    
        .experience2{
        padding-top: 2vh;
            span{
                text-decoration: none;
                color: white;
                font-size: x-large;
                font-weight: bold;
                text-decoration: underline rgb(45, 199, 45);
            }
            .omnistudy-text{
                padding-top: 1vh;
                .omnistudy-description{
                    font-size: medium;
                    text-decoration: none;
                    font-weight: lighter;
                    font-style: italic;
                }
                
                .omnistudy-link{
                    color: white;
                    text-decoration: none;
                    font-size: medium;
                    text-decoration: underline;
                }
                
                
            }
        }
    }
    .projects{
        text-align: center;
        color: white;
        margin-top: 6em;
        h1 {
          text-align: center;
          padding-left: 5vw;
          color: white;  
        }
        .group1{
            padding-top: 4vh;
        }
        .project1{
            
            span{
                text-decoration: none;
                color: white;
                font-size: x-large;
                font-weight: bold;
                text-decoration: underline rgb(45, 199, 45);
            }
            img{
                width: 100%;
                margin-bottom: 8em;
            }
            .project-text{
                .gopher_robotics-description{
                    font-size: medium;
                    text-decoration: none;
                    font-weight: lighter;
                    font-style: italic;
                }
            }
        }
        .project2{
            margin-top: 10em;
            span{
                text-decoration: none;
                color: white;
                font-size: x-large;
                font-weight: bold;
                text-decoration: underline rgb(45, 199, 45);
            }
            img{
                width: 100%;
            }
        }
        .other-projects{
            margin-top: 10em;
            h2{
                font-size: large;
            }
            ul{
                align-items: center;
                justify-content: center;
                display: flex;
                
            }
            .github-icon{

                width: 5em;
            }
            .linkedin-icon{
                margin-left: 1em;
                width: 5em;
                filter: invert(100%);
                
            }
            .email{
                margin-left: 1em;
                width: 5em;
                filter: invert(100%);
            }
            span{
                color: rgb(45, 199, 45);
            }
        }
    }
}

@media only screen and (min-width: 800px){
    .hero{
    .work_experience{
        width: 50vw;
        font-size: large;
    }
    .projects{
        h1{
            text-align: left;
        }
        width: 90vw;
        .group1{
            justify-content: space-between;
            flex-direction: row;
            .project-text{
                text-align: left;
                padding-top: .5em;
            }
        }
        .project1{
            width: 40%;
            display: inline-block;
            img{
                padding-bottom: 1em;
            }
            
        }
        .project2{
            padding-left: 5em;
            width: 40%;
            margin: 0;
            display: inline-block;
            .project-text{
                text-align: left;
            }
            img{
                padding-bottom: 3em;
            }
            
        }
    }
    .other-projects{
         h2{
            max-width: 600px;
            margin: 0 auto;
         }
    }
    
}
}