
body{
    background: #201c1c;
    margin: 0;
    font-family: 'Roboto';
  }

.hero{
  
  .show-after .visible-about-me {
    margin-top: 1em;
    display: grid;
    font-size: 30px;
    color: white;
    padding: 1em;
    width: 80%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
}