* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  padding: 0;
  margin: 0;
}
.hero .left-column {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-family: monospace;
  font-weight: 700;
  font-size: 48px;
  padding: 0;
  background: #201c1c;
  color: #ffffff;
}
.hero .type {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(-90deg, #ffffff 5px, rgba(0, 0, 0, 0) 0) 10px 0, linear-gradient(#ffffff 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: b 0.7s infinite steps(1), t calc(var(--n) * 0.24s) steps(var(--n)) forwards;
}
@keyframes t {
  from {
    background-size: 0 200%;
  }
}
@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}
.hero .show-after {
  display: none;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hero .show-after.visible {
  margin-top: 1em;
  display: block;
  font-size: 30px;
  color: white;
  padding: 1em;
  width: 80%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 800px) {
  .hero .show-after.visible {
    display: flex;
    margin-left: 2em;
    left: 0;
    transform: none;
    width: 100%;
  }
  .hero .show-after.visible .contact-me {
    width: 12em;
    text-align: center;
  }
  .hero .show-after.visible .school {
    text-align: left;
  }
}
.TopNav {
  background-color: rgb(24, 24, 24);
}
.TopNav .logo {
  width: 20%;
}
.TopNav nav {
  display: none;
}
.TopNav .container {
  display: flex;
  place-content: space-between;
}
.TopNav .mobile-menu {
  filter: invert(100%);
  margin: 1.5em 0;
  margin-right: 0.5em;
  width: 10%;
  height: 10%;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: black;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .mobile-menu-exit {
  filter: invert(100%);
  height: 7%;
  float: right;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li img {
  display: none;
}
nav li span {
  margin-top: 0;
  display: block;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.5em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .TopNav .mobile-menu, .TopNav .mobile-menu-exit {
    display: none;
  }
  .TopNav .logo {
    width: 6em;
  }
  .TopNav .container {
    width: 100%;
  }
  .TopNav nav {
    box-sizing: content-box;
    margin-top: 2em;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .TopNav nav ul {
    color: white;
    display: flex;
    flex-direction: row;
  }
  .TopNav nav ul.primary-nav {
    margin: 0;
  }
  .TopNav nav ul.primary-nav li {
    padding-left: 1em;
  }
  .TopNav nav ul.primary-nav li img {
    float: left;
  }
  .TopNav nav a {
    font-size: 20px;
    padding: 0.1em 1.4em;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-me {
  width: 100%;
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  color: rgb(255, 255, 255);
  border: 5px solid rgb(45, 199, 45);
  background: rgb(45, 199, 45);
  text-decoration: none;
  display: inline-block;
}

.school {
  margin-top: 1.5em;
  box-sizing: content-box;
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  color: rgb(106, 104, 104);
}

h2 {
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  color: rgb(106, 104, 104);
}

.Intro {
  position: initial;
  color: white;
  padding-left: 5%;
  margin: 25em 0 0 0;
}
.Intro h1 {
  text-decoration: underline;
}
.Intro h1 span {
  color: rgb(45, 199, 45);
}
.Intro .text-line {
  font-size: 20px;
  margin-top: 0.8em;
  color: white;
}
.Intro .text-line span {
  font: bold;
  color: rgb(45, 199, 45);
}

.Connect {
  font-size: small;
  margin: 6em 0 0 2em;
}
.Connect h1 {
  color: white;
}
.Connect h1 span {
  color: rgb(45, 199, 45);
}
.Connect ul {
  display: flex;
  margin-left: 0;
}
.Connect .github-icon {
  width: 5em;
}
.Connect .linkedin-icon {
  width: 5em;
  filter: invert(100%);
}

@media only screen and (min-width: 800px) {
  .hero .left-column {
    text-align: left;
    margin-left: 1.8em;
  }
  .hero {
    width: 50%;
    display: flex;
  }
  .hero .show-after.visible .below-info {
    width: 100%;
  }
  .Intro h1 {
    font-size: 30px;
  }
  .Intro .text-line {
    font-size: 22px;
  }
  .Connect {
    margin: 6em 0 2em 0;
    text-align: center;
  }
  .Connect .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.hero .show-after .text-line {
  padding-top: 2em;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-top: 1em;
  border: 2px solid white;
  color: white;
}
.hero .show-after .text-line .about-me-body {
  left: 50%;
  transform: translateX(-50%);
}
.hero .show-after iframe {
  width: 100%;
  padding-top: 0.5em;
}
.hero .chat-cta h2 {
  margin-top: 2em;
  color: white;
  text-align: center;
  font-size: x-large;
}
.hero .chat-cta h2 span {
  color: rgb(45, 199, 45);
}
.hero .chat-cta img {
  display: block;
  margin: 0 auto;
  filter: invert(100%);
  width: 15%;
  margin-top: 1em;
}

@media only screen and (min-width: 800px) {
  .hero .show-after .about-me-body {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .hero .show-after .text-line {
    padding: 0.5em;
    margin-top: 1em;
    border: 2px solid white;
    color: white;
    flex-direction: row;
  }
  .hero .show-after .chat-cta {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding-left: 4em;
    padding-right: 2em;
  }
}
.hero .projects {
  text-align: center;
  color: white;
  margin-top: 6em;
}
.hero .projects .project1 span {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: bold;
  -webkit-text-decoration: underline rgb(45, 199, 45);
          text-decoration: underline rgb(45, 199, 45);
}
.hero .projects .project1 img {
  width: 100%;
}
.hero .projects .project2 {
  margin-top: 10em;
}
.hero .projects .project2 span {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: bold;
  -webkit-text-decoration: underline rgb(45, 199, 45);
          text-decoration: underline rgb(45, 199, 45);
}
.hero .projects .project2 img {
  width: 100%;
}
.hero .projects .other-projects {
  margin-top: 10em;
}
.hero .projects .other-projects h2 {
  font-size: large;
}
.hero .projects .other-projects ul {
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero .projects .other-projects .github-icon {
  width: 5em;
}
.hero .projects .other-projects .linkedin-icon {
  margin-left: 1em;
  width: 5em;
  filter: invert(100%);
}
.hero .projects .other-projects .email {
  margin-left: 1em;
  width: 5em;
  filter: invert(100%);
}
.hero .projects .other-projects span {
  color: rgb(45, 199, 45);
}

@media only screen and (min-width: 800px) {
  .hero .projects {
    width: 90vw;
  }
  .hero .projects .group1 {
    justify-content: space-between;
    flex-direction: row;
  }
  .hero .projects .group1 .project-text {
    text-align: left;
    padding-top: 0.5em;
  }
  .hero .projects .project1 {
    width: 40%;
    display: inline-block;
  }
  .hero .projects .project1 img {
    padding-bottom: 1em;
  }
  .hero .projects .project2 {
    padding-left: 5em;
    width: 40%;
    margin: 0;
    display: inline-block;
  }
  .hero .projects .project2 .project-text {
    text-align: left;
  }
  .hero .projects .project2 img {
    padding-bottom: 3em;
  }
  .hero .other-projects h2 {
    max-width: 600px;
    margin: 0 auto;
  }
}
.hero .form {
  padding: 2em;
  margin-top: 1em;
  display: block;
  gap: 1em;
  align-items: center;
  font-size: 30px;
}
.hero .form span {
  color: rgb(45, 199, 45);
}
.hero .form input, .hero .form textarea {
  width: 100%;
}
.hero .form textarea {
  height: 15vh;
}
.hero .form button {
  width: 20%;
}
.hero .further-cta h2 {
  font-size: large;
}
.hero .further-cta h2 span {
  color: rgb(45, 199, 45);
}
.hero .further-cta .icons {
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero .further-cta .icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hero .further-cta .icons li {
  list-style-type: none;
}
.hero .further-cta .icons .github-icon {
  width: 3em;
}
.hero .further-cta .icons .linkedin-icon {
  margin-left: 1em;
  filter: invert(100%);
  width: 3em;
}

@media only screen and (min-width: 800px) {
  .hero .reach-out-section {
    width: 100%;
  }
  .hero .reach-out-section .form {
    width: 20em;
  }
  .hero .reach-out-section .further-cta {
    margin-left: 1.2em;
  }
  .hero .reach-out-section .further-cta .icons {
    padding-top: 0.3em;
    width: 4.5em;
  }
  .hero .reach-out-section .further-cta .icons .linkedin-icon {
    width: 2em;
  }
  .hero .reach-out-section .further-cta .icons .github-icon {
    width: 2em;
  }
}
body {
  background: #201c1c;
  margin: 0;
  font-family: "Roboto";
}/*# sourceMappingURL=main.css.map */