@import 'config';
@import 'animation';
@import 'navbar';
@import 'home';
@import 'about';
@import 'experience';
@import 'contact';

body{
    background: #201c1c;
    margin: 0;
    font-family: 'Roboto';
  }
  


