

body{
    background: rgb(84, 84, 84);
    margin: 0;
    font-family: 'Roboto';
}

.TopNav{
    background-color: rgb(24, 24, 24);

    .logo{
        width: 20%;
        height: 20%;
        
    }
    nav{
        display: none;
    }

    .container{
        display: flex;
        place-content: space-between;
    }
    .mobile-menu{
        filter: invert(100%);
        padding: 1em 1em 0 0;
        width: 12%;
        height: 12%;
        cursor: pointer;
    }
}