<!DOCTYPE html>
<html lang="en">
<script src="index.ts"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Braydon Higgins</title>
</head>
<body>
    <div class="SideNav">
        <div class="container">
            <img src="..\Assets\logo.png" alt="logo">
            
            <nav>
                <ul class="primary-nav">
                    <li><a href="#"><img src="../Assets/home-icon.png" alt="home icon"></a>
                    <span>Home</span>
                    </li>
                    <li><a href="experience.html"><img src="../Assets/experience-icon.png" alt="work experience icon"></a>
                    <span>Work Experience</span>
                    </li>
                    <li><a href="about.html"> <img src="../Assets/about-me-icon.jpg" alt="about me icon"></a>
                    <span>About Me</span>
                    </li>
                    <li><a href="contact.html"> <img src="../Assets/contact-me-icon.png" alt="contact me icon"></a>
                    <span>Contact Me</span>
                    </li>
                </ul>

                <ul class="social-nav">
                    <li><a id="github-logo" class="github-logo" href="https://github.com/Brady-Higgins" title="GitHub"><img src="../Assets/github-logo.png" alt="GitHub Logo"></a>
                    <span class="github-text">GitHub</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
